# Node
backend/node_modules
admin/node_modules

# Flutter / Dart
authors
mobile/.dart_tool
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build

# Misc
.DS_Store
coverage
.env
